
// Colors

$black: #000;
$faded: rgba(0, 0, 0, .8);

$navbar-background-color: #fff;
$footer-background-color: #fff;

// Sizes

$font-tiny: .9rem;
$font-normal: 1rem;
$font-medium: 1.25rem;
$font-large: 1.5rem;


$mobile-breakpoint: 420px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
